Source: ros-kinetic-opengm
Section: misc
Priority: extra
Maintainer: Richard Bormann <richard.bormann@ipa.fraunhofer.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://hciweb2.iwr.uni-heidelberg.de/opengm/
Standards-Version: 3.9.2

Package: ros-kinetic-opengm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This package wraps the external c++ library opengm in a ROS package, so other packages can use it.
 It downloads the source code of it and then unzips it. The library is a header-only library with command line interfaces, which aren't used, so it doesn't gets build. For further descriptions and tutorials see the Makefile.tarball and https://github.com/opengm/opengm . Copyright (C) 2013 Bjoern Andres, Thorsten Beier and Joerg H.~Kappes.
